html,
html.light {
    background-color: transparent;
    color: #000;
}

html.dark {
    background-color: #151515 !important;
    color: #BBBBBB;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 20px;
    padding-bottom: 100px;
    transition: font-size 0.3s;
}

p {
    margin: 10px 0;
    font-size: 1em;
}

h1 {
    font-size: 1.7em;
    color: #008B5B;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.2em;
    margin-top: 0px;
    padding-top: 50px;
}

hr {
    margin: 0;
    margin-top: 40px;
    border: 0;
    border-top: 1px solid #c2c2c2;
}

html.dark hr {
    border-color: #353535;
}

a {
    color: #008B5B;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a:active {
    text-decoration: underline;
}

ul {
    margin: 20px 20px 20px 30px;
    padding: 0px;
    transition: all 0.3s;
}

li {
    margin: 10px 0;
}

.reference {
    position: relative;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 0px;
}

html.dark .reference {
    background-color: #252525;
}

.reference p {
    margin: 0;
}

.reference .arabic {
    font-family: quran-arabic;
    text-align: center;
    margin-bottom: 5px;
    font-size: 25px;
    padding: 5px;
    line-height: 1.7;
    direction: rtl;
    --webkit-user-select: none;
}

.reference .translation {
    text-align: center;
    padding: 10px;
}

.reference .footer {
    border-top: 1px solid #c2c2c2;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html.dark .reference .footer {
    border-top-color: #353535;
}

.reference .footer span {
    font-size: 13px;
    color: #353535;
}

html.dark .reference .footer span {
    font-size: 13px;
    color: #aaaaaa;
}

.reference .footer .sep {
    font-size: 14px;
    color: #555555;
    flex-grow: 1;
}

.reference .footer a {
    background-color: rgba(0, 139, 21, .20);
    color: inherit;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.reference .footer a:active {
    background-color: rgba(0, 139, 21, .30);
    color: inherit;
}

.toc,
.note {
    margin: 30px 0 20px;
    padding: 10px;
    background-color: #f5f5f5;
    color: #777777;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

html.dark .toc,
html.dark .note {
    background-color: #252525;
    color: #aaaaaa;
    border-color: #353535;
}

.toc {
    padding: 0;
}

.note ul {
    margin-left : 20px;
}

sup {
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
    font-family: serif;
}

/* Style for the table of contents */
.toc .title {
    font-weight: bold;
    padding: 10px;
}

.toc a {
    color: #777777;
    font-size: 14px;
    text-decoration: none;
}

.toc a:active {
  color: #555555;
}

html.dark .toc a {
    color: #aaaaaa;
}