<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".QuranApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuranApp.Splash"
        tools:targetApi="s">

        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActivityBookmark" />
        <activity android:name=".activities.ActivityReadHistory" />
        <activity android:name=".activities.ActivityDownloads" />
        <activity
            android:name=".activities.reference.ActivityReference"
            android:exported="true">
            <intent-filter>
                <action android:name="com.quranapp.android.action.OPEN_REFERENCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.reference.ActivityProphets" />
        <activity android:name=".activities.reference.ActivityDua" />
        <activity android:name=".activities.reference.ActivityPropheticDuas" />
        <activity android:name=".activities.reference.ActivitySolutionVerses" />
        <activity android:name=".activities.reference.ActivityEtiquette" />
        <activity android:name=".activities.reference.ActivityQuranScience" />
        <activity android:name=".activities.reference.ActivityQuranScienceContent" />
        <activity
            android:name=".activities.ActivityTafsir"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.quranapp.android.action.OPEN_TAFSIR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityChapInfo"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.quranapp.android.action.OPEN_CHAPTER_INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:label="About Surah (QuranApp)">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="quran.com" />
                <data android:pathPattern="/chapter_info/.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.readerSettings.ActivitySettings"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.ActivitySearch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".activities.ActivityReaderIndexPage" />
        <activity
            android:name=".activities.ActivityReader"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.quranapp.android.action.OPEN_READER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="quran.com" />
                <data android:pathPattern="/juz/.*" />
                <data android:pathPattern="/\\d+" />
                <data android:pathPattern="/\\d+/\\d+" />
                <data android:pathPattern="/\\d+/\\d+-\\d+" />
                <data android:pathPattern="/\\d+:\\d+" />
                <data android:pathPattern="/\\d+:\\d+-\\d+" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActivityOnboarding" />
        <activity android:name=".activities.ActivityAbout" />
        <activity android:name=".activities.ActivityStorageCleanup" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".utils.receivers.VotdReceiver"
            android:enabled="true"
            android:process=":remote" />

        <receiver
            android:name=".utils.receivers.CrashReceiver"
            android:enabled="true" />

        <receiver
            android:name=".utils.receivers.AlarmPermissionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".utils.receivers.BootReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.services.RecitationService"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name=".utils.services.RecitationChapterDownloadService"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".utils.services.TranslationDownloadService"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".utils.services.KFQPCScriptFontsDownloadService"
            android:foregroundServiceType="dataSync" />

    </application>

    <queries>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
    </queries>

</manifest>